<p id="notice"><%= notice %></p>

<h1>Lista Spektakli</h1>

<table>
  <thead>
    <tr>
      <th>Tytul</th>
      <th>Rezyser</th>
      <th>Premiera</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spektakls.each do |spektakl| %>
      <tr>
        <td><%= spektakl.tytul %></td>
        <td><%= spektakl.rezyser %></td>
        <td><%= spektakl.premiera %></td>
        <td><%= link_to 'Pokaż', spektakl %></td>
        <td><%= link_to 'Edytuj', edit_spektakl_path(spektakl) %></td>
        <td><%= link_to 'Usuń', spektakl, method: :delete, data: { confirm: 'Jesteś pewny?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj nowy spektakl', new_spektakl_path %>
